<%- include('../partials/header.ejs') %>

<div class="header-main px-3 px-lg-4">
    <a id="menuSidebar" href="#" class="menu-link me-3 me-lg-4"><i class="ri-menu-2-fill"></i></a>

    <div class="form-search me-auto">
      <input type="text" class="form-control" placeholder="Search">
      <i class="ri-search-line"></i>
    </div><!-- form-search -->

    <div class="dropdown dropdown-skin">
      <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ri-settings-3-line"></i></a>
      <div class="dropdown-menu dropdown-menu-end mt-10-f">
        <label>Skin Mode</label>
        <nav id="skinMode" class="nav nav-skin">
          <a href="" class="nav-link active">Light</a>
          <a href="" class="nav-link">Dark</a>
        </nav>
        <hr>
        <label>Sidebar Skin</label>
        <nav id="sidebarSkin" class="nav nav-skin">
          <a href="" class="nav-link active">Default</a>
          <a href="" class="nav-link">Prime</a>
          <a href="" class="nav-link">Dark</a>
        </nav>
        <hr>
        <label>Direction</label>
        <nav id="layoutDirection" class="nav nav-skin">
          <a href="" class="nav-link active">LTR</a>
          <a href="" class="nav-link">RTL</a>
        </nav>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->

    <div class="dropdown dropdown-notification ms-3 ms-xl-4">
      <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><small>3</small><i class="ri-notification-3-line"></i></a>
      <div class="dropdown-menu dropdown-menu-end mt-10-f me--10-f">
        <div class="dropdown-menu-header">
          <h6 class="dropdown-menu-title">Notifications</h6>
        </div><!-- dropdown-menu-header -->
        <ul class="list-group">
          <li class="list-group-item">
            <div class="avatar online"><img src="/dist/assets/img/img10.jpg" alt=""></div>
            <div class="list-group-body">
              <p><strong>Dominador Manuel</strong> and <strong>100 other people</strong> reacted to your comment "Tell your partner that...</p>
              <span>Aug 20 08:55am</span>
            </div><!-- list-group-body -->
          </li>
          <li class="list-group-item">
            <div class="avatar online"><img src="/dist/assets/img/img11.jpg" alt=""></div>
            <div class="list-group-body">
              <p><strong>Angela Ighot</strong> tagged you and <strong>9 others</strong> in a post.</p>
              <span>Aug 18 10:30am</span>
            </div><!-- list-group-body -->
          </li>
          <li class="list-group-item">
            <div class="avatar"><span class="avatar-initial bg-primary">a</span></div>
            <div class="list-group-body">
              <p>New listings were added that match your search alert <strong>house for rent</strong></p>
              <span>Aug 15 08:10pm</span>
            </div><!-- list-group-body -->
          </li>
          <li class="list-group-item">
            <div class="avatar online"><img src="/dist/assets/img/img14.jpg" alt=""></div>
            <div class="list-group-body">
              <p>Reminder: <strong>Jerry Cuares</strong> invited you to like <strong>Cuares Surveying Services</strong>. <br><a href="">Accept</a> or <a href="">Decline</a></p>
              <span>Aug 14 11:50pm</span>
            </div><!-- list-group-body -->
          </li>
          <li class="list-group-item">
            <div class="avatar online"><img src="/dist/assets/img/img15.jpg" alt=""></div>
            <div class="list-group-body">
              <p><strong>Dyanne Aceron</strong> reacted to your post <strong>King of the Bed</strong>.</p>
              <span>Aug 10 05:30am</span>
            </div><!-- list-group-body -->
          </li>
        </ul>
        <div class="dropdown-menu-footer"><a href="">Show all Notifications</a></div>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
    <div class="dropdown dropdown-profile ms-3 ms-xl-4">
      <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><div class="avatar online"><img src="/dist/assets/img/img1.jpg" alt=""></div></a>
      <div class="dropdown-menu dropdown-menu-end mt-10-f">
        <div class="dropdown-menu-body">
          <div class="avatar avatar-xl online mb-3"><img src="/dist/assets/img/img1.jpg" alt=""></div>
          <h5 class="mb-1 text-dark fw-semibold">Imran</h5>
          
          <hr>
          <nav class="nav">
            
            <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
            <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
          </nav>
        </div><!-- dropdown-menu-body -->
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- header-main -->

  <div class="main main-app p-3 p-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div>
        
        <h4 class="main-title mb-0">Welcome to Dashboard</h4>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-6 col-xl-3">
        <div class="card card-one">
          <div class="card-body">
            <label class="card-title fs-sm fw-medium mb-1">Unique Purchases</label>
            <h3 class="card-value mb-1"><i class="ri-shopping-bag-3-line"></i> 8,327</h3>
            <small><span class="d-inline-flex text-danger">0.7% <i class="ri-arrow-down-line"></i></span> than last week</small>
          </div><!-- card-body -->
        </div><!-- card-one -->
      </div><!-- col -->
      <div class="col-6 col-xl-3">
        <div class="card card-one">
          <div class="card-body">
            <label class="card-title fs-sm fw-medium mb-1">Order Value</label>
            <h3 class="card-value mb-1"><i class="ri-briefcase-4-line"></i> <span>$</span>12,105</h3>
            <small><span class="d-inline-flex text-success">2.1% <i class="ri-arrow-up-line"></i></span> than last week</small>
          </div><!-- card-body -->
        </div><!-- card-one -->
      </div><!-- col -->
      <div class="col-6 col-xl-3">
        <div class="card card-one">
          <div class="card-body">
            <label class="card-title fs-sm fw-medium mb-1">Order Quantity</label>
            <h3 class="card-value mb-1"><i class="ri-inbox-line"></i> 4,598</h3>
            <small><span class="d-inline-flex text-danger">0.3% <i class="ri-arrow-down-line"></i></span> than last week</small>
          </div><!-- card-body -->
        </div><!-- card-one -->
      </div><!-- col -->
      <div class="col-6 col-xl-3">
        <div class="card card-one">
          <div class="card-body">
            <label class="card-title fs-sm fw-medium mb-1">Conversion Rate</label>
            <h3 class="card-value mb-1"><i class="ri-bar-chart-box-line"></i> 6.28<span>%</span></h3>
            <small><span class="d-inline-flex text-success">1.2% <i class="ri-arrow-up-line"></i></span> than last week</small>
          </div><!-- card-body -->
        </div><!-- card-one -->
      </div><!-- col -->
      
    </div><!-- row -->

   
  </div><!-- main -->



<script>
  //get-total-expense-or-income-or-customer
  async function getTotalExpenseIncomeCustomer(id) {
    const token = document.cookie
        .split("; ")
        .find((row) => row.startsWith("token="))
        .split("=")[1];

    const response = await fetch(`/api/v1/expense/get-total-expense-or-income-or-customer/`, {
        method: "get",
        headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`,
        },
    });

    const data = await response.json();

    if (data.status) {
    // If data.status is truthy, update HTML elements with formatted currency values from data.data object.

    document.getElementById("income").innerHTML = formatCurrency(data.data.totalIncomeAmount);
    document.getElementById("expense").innerHTML = formatCurrency(data.data.totalExpenseAmount);
    // document.getElementById("customer").innerHTML = formatCurrency(data.data.totalCustomer);
    document.getElementById("papaIncome").innerHTML = formatCurrency(data.data.papaTotalIncome);
    document.getElementById("mummyExpense").innerHTML = formatCurrency(data.data.totalMummyExpense);
    document.getElementById("totalHomeGrocery").innerHTML = formatCurrency(data.data.totalHomeGrocery);
    document.getElementById("ankushExpense").innerHTML = formatCurrency(data.data.totalAnkushExpense);
    document.getElementById("OtherExpense").innerHTML = formatCurrency(data.data.totalOtherExpense);
    document.getElementById("otherIncome").innerHTML = formatCurrency(data.data.totalOtherIncome);
    document.getElementById("mySalaryIncome").innerHTML = formatCurrency(data.data.totalMySalaryIncome);

} else {
    // If data.status is falsy, show an alert with the message from data.message.
    alert(data.message);
}

// Function to format currency with commas separating thousands
function formatCurrency(amount) {
    // Use toLocaleString with 'en-US' locale for formatting as currency
    return parseFloat(amount).toLocaleString('en-US', { style: 'currency', currency: 'INR' });
}

}
getTotalExpenseIncomeCustomer()
</script>


<!-- Content Wrapper END -->
<%- include('../partials/footer') %>
</html>
