<%- include('../partials/header.ejs') %>

  <div class="main main-app p-3 p-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div>
        <h4 class="main-title mb-0">Users list</h4>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-12 col-xl-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">User Name</th>
              <th scope="col">User Number</th>
              <th scope="col">User Email</th>
              <th scope="col">Address</th>
              <th scope="col">Type of Subscription</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Imran Ahmed</td>
              <td>1234567890</td>
              <td>testmail@mail.com</td>
              <td>Free</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Aman Sharma</td>
              <td>1234567890</td>
              <td>testmail@mail.com</td>
              <td>Flexi Plan</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Akram</td>
              <td>1234567890</td>
              <td>testmail@mail.com</td>
              <td>Starter pack</td>
            </tr>
          </tbody>
        </table>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- main -->


  <div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create new subscription</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div><!-- modal-header -->
        <div class="modal-body">
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Subscription name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subscription name">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Orders per day</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter in numerical format">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Subscription validity</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Subscription validity">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Subscription prices</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Subscription prices">
            </div>
            
            
          </div><!-- card-body -->
        </div><!-- modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div><!-- modal-footer -->
      </div><!-- modal-content -->
    </div><!-- modal-content -->
  </div><!-- modal -->

  </div>


<script>
  $("#tableGrid2").Grid({
  className: {
    table: 'table table-bordered mb-0'
  },
  pagination: true
});
</script>
<!-- Content Wrapper END -->
<%- include('../partials/footer') %>
</html>
