<%- include('../partials/header.ejs') %>

  <div class="main main-app p-3 p-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div>
        <h4 class="main-title mb-0">Users list</h4>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-12 col-xl-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">User Name</th>
              <th scope="col">User Number</th>
              <th scope="col">Join Date</th>
              <th scope="col">Subscription Status</th>
              
            </tr>
          </thead>
          <tbody id="display-order-list">
            
          </tbody>
        </table>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- main -->


  <div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create new subscription</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div><!-- modal-header -->
        <div class="modal-body">
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Subscription name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subscription name">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Orders per day</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter in numerical format">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Subscription validity</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Subscription validity">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Subscription prices</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Subscription prices">
            </div>
            
            
          </div><!-- card-body -->
        </div><!-- modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div><!-- modal-footer -->
      </div><!-- modal-content -->
    </div><!-- modal-content -->
  </div><!-- modal -->

  </div>



<script>

const token = document.cookie
    .split("; ")
    .find((row) => row.startsWith("token="))
    ?.split("=")[1]; // Safe navigation operator in case token doesn't exist

  if (!token) {
    alert("Token not found. Please login again.");
    // Redirect to login or handle accordingly
  }

  const expense_category = async () => {
    try {
      const response = await fetch("/api/v1/users/user-list", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${token}`,
        },
      });

      if (response.ok) {
        const data = await response.json();
        console.log(data);

        if (data.data.length === 0) {
          return (document.getElementById("display-order-list").innerHTML = `<tr>
                <td colspan="8">No data available.</td>
              </tr>`);
        }

        let res = data.data
          .map((item, index) => {

            const date = new Date(item.Join_date);
            const formattedDate = date.toISOString().split('T')[0]; // Outputs '2024-12-18'
                 
            return `
              <tr>
                <th scope="row">#${index + 1}</th>
                <td>${item.customer_name}</td>
                <td>${item.customer_contact}</td>
                <td>${formattedDate}</td>
                <td>${item.is_subscription}</td>
                 <td><button class="btn btn-info btn-sm ml-2" onclick="viewOrderCart('${item._id}')">Active </button></td>
              </tr>
            `;
          })
          .join("");

        document.getElementById("display-order-list").innerHTML = res;
      } else {
        alert("Error fetching data: " + response.statusText);
      }
    } catch (error) {
      console.error("Error:", error);
      alert("An error occurred. Please try again later.");
    }
  };

  window.onload = expense_category;
</script>
<!-- Content Wrapper END -->
<%- include('../partials/footer') %>
</html>
