<script src="/dist/lib/jquery/jquery.min.js"></script>
  <script src="/dist/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="/dist/lib/chart.js/chart.min.js"></script>
  <script src="/dist/lib/jqvmap/jquery.vmap.min.js"></script>
  <script src="/dist/lib/jqvmap/maps/jquery.vmap.usa.js"></script>
  <script src="/dist/lib/apexcharts/apexcharts.min.js"></script>

  <script src="/dist/assets/js/script.js"></script>
  <script src="/dist/assets/js/db.data.js"></script>
  <script src="/dist/assets/js/db.sales.js"></script>
</body>
</html>