<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="">
  <meta name="author" content="Themepixels">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/dist/assets/img/favicon.png">

  <title>DashByte - Premium Dashboard Template</title>

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/dist/lib/remixicon/fonts/remixicon.css">
  <link rel="stylesheet" href="/dist/lib/jqvmap/jqvmap.min.css">
  <link rel="stylesheet" href="/dist/lib/apexcharts/apexcharts.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/dist/assets/css/style.min.css">
</head>
<body>

  <div class="sidebar">
    <div class="sidebar-header">
      <a href="/" class="sidebar-logo">WACRM</a>
    </div><!-- sidebar-header -->
    <div id="sidebarMenu" class="sidebar-body">
      <div class="nav-group show">
        <a href="#" class="nav-label">Dashboard</a>
        <ul class="nav nav-sidebar">
          <li class="nav-item">
            <a href="/" class="nav-link active"><i class="ri-shopping-bag-3-fill"></i> <span>Sales Monitoring</span></a>
          </li>      
        </ul>
      </div><!-- nav-group -->
     
    </div><!-- sidebar-body -->
   
  </div><!-- sidebar -->
