<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="images/img-01.png" alt="IMG" />
          </div>

          <form class="login100-form validate-form" id="forgot-password-form">
            <span class="login100-form-title"> Member Reset password </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                id="email"
                name="userEmail"
                placeholder="Email"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit">Submit</button>
            </div>

            <div class="text-center p-t-12">
              <span class="txt1"> Forgot </span>
              <a class="txt2" href="/forget-password"> Username / Password? </a>
            </div>

            <p class="error-message text-danger text-center mt-2"></p>

            <div class="text-center p-t-136">
              <a class="txt2" href="/register">
                Create your Account
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      const form = document.getElementById("forgot-password-form")
      const submitButton = form.querySelector('button[type="submit"]')
      const errorMessage = form.querySelector(".error-message")

      form.addEventListener("submit", async (e) => {
        e.preventDefault() // Prevent the form from submitting

        submitButton.disabled = true // Disable the submit button
        submitButton.textContent = "Loading..." // Change the text of the

        const userEmail = form.userEmail.value

        // Make the API call to login
        const response = await fetch("/api/v1/forgot-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ userEmail }),
        })

        submitButton.disabled = false // Enable the submit button
        submitButton.textContent = "Send Request" // Change the text of the submit

        if (response.ok) {
          // Handle successful login
          const data = await response.json()
          console.log("verify-otp-forget-password successful:", data)

          // Store the token in a cookie
          document.cookie = `token=${data.token}`

          // Redirect to the home page
          window.location.href = "/verify-otp-forget-password"
        } else {
          // Handle failed login
          const errorData = await response.json()
          console.log(errorData)
          console.error("Registration failed:", errorData)
          errorMessage.textContent = errorData.message
        }
      })
    </script>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
  </body>
</html>
